* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eef5ff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main_container_all {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 17px;
  border-radius: 10px;
  width: 60%;
}

.container_left {
  position: relative;
  width: 30%;
  color: white;
}

.desktop_image {
  width: fit-content;
  height: 70vh;
}

.mobile_image {
  display: none;
}

.container_right {
  width: 60%;
}

.overlay_one {
  display: flex;
  align-items: center;
  gap: 10px;
  /* justify-content: center; */
}

.container_left_overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25px;
  padding: 1rem;
  gap: 10px;
  line-height: 20px;
}

.container_left small {
  color: grey;
}

.number {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
  border-radius: 50%;
}

.container_right {
  font-size: 13px;
  padding-top: 2.5rem;
  width: 60%;
}

.container_right_header {
  color: #002152;
  font-size: 15px;
  font-weight: 900;
}

.container_right_p {
  color: gray;
}

.container_right_header,
.container_right_p {
  line-height: 2rem;
}

.container_right form {
  margin-top: 2rem;
  width: 100%;
}

.container_right form label {
  display: block;
  margin-top: 0.5rem;
}

.container_right input {
  width: 85%;
  padding: 0.9rem 2rem 0.9rem 0.5rem;
  border-radius: 5px;
  margin-bottom: 8px;
  border: 1px solid black;
  /* border: gray; */
}

.next_btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 85%;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #174a8a;
  color: white;
  margin-top: 2rem;
}

.next_btn a {
  text-decoration: none;
}

@media (max-width:930px){
  main{
    background-image: url(images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
}
  .main_container_all{
      width: 90%;
      height: 70vh;
  }
  .container_left{
      display: none;
  }
  .container_right{
      width: 100%;
      padding: 0;
  }
  .container_right input{
    width: 100%;
    border-radius: 0;
    padding: 0.7rem 2rem 0.7rem 0.5rem;
  }
  .next_btn{
    width: 100%;
    margin-top: 2rem;
  }
}
