*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eef5ff;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .main_container_all {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 17px;
    border-radius: 10px;
    width: 60%;
  }
  
  .container_left {
    position: relative;
    width: 30%;
    color: white;
  }

  .container_left_overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    padding: 1rem;
    gap: 10px;
    line-height: 20px;
  }

  .overlay_one {
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: center; */
  }
  
  .container_left small {
    color: grey;
  }
  
  .number {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    border-radius: 50%;
  }
  
  
  .desktop_image {
    width: fit-content;
    height: 70vh;
  }
  
  .mobile_image {
    display: none;
  }

  .container_right {
    font-size: 13px;
    padding: 2.5rem 2.5rem 0 0;
    width: 60%;
    height: max-content;
  }
  
  .container_right_header {
    color: #002152;
    font-size: 15px;
    font-weight: 900;
  }
  
  .container_right_p {
    color: gray;
  }
  
  .container_right_header,
  .container_right_p {
    line-height: 2rem;
    /* word-spacing: .2rem; */
  }
  
  .container_right_box{
    display: flex;
  align-items: center;
  }
  
  .container_right_box_content{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 6px;
    margin-left: 1rem;
    padding: 1rem;
    font-size: 15px;
  }
  
  .container_right_box_content span{
    font-size: 13px;
    color: gray;
  }
  
  .container_right_box_content i{
    /* width: 100%; */
    font-size: 30px;
  }
  
  /* * Hide default checkbox */ */
  .switch input {
    display: none;
  }
  
  /* The switch container */
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* The slider */
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
  }
  
  /* The circle inside the slider */
  .slider::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  /* When checkbox is checked */
  input:checked + .slider {
    background-color: #0033cc;
  }
  
  input:checked + .slider::before {
    transform: translateX(26px);
  }
  /* Text styling */
  .label-text {
    margin-left: 8px;
    font-size: 16px;
    font-weight: bold;
    color:#666;
  }
  
  .slider_complete{
    display: flex;
    justify-content: center;
    margin: .5rem 0;
  }

  .next_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .next_btn button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #174a8a;
    color: white;
    /* margin-top: 2rem; */
  }
  
  .back_page a{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    /* background-color: red; */
    color: gray;
    text-decoration: none;
    font-size: 15px;
  }
  

  @media (max-width:768px){
    main{
      background-image: url(images/bg-sidebar-mobile.svg);
      background-repeat: no-repeat;
  }
    .main_container_all{
        width: 90%;
        height: 70vh;
    }
    .container_left{
        display: none;
    }
    .container_right{
        width: 100%;
        padding: 0;
    }
    .container_right_box{
      flex-direction: column;
    }
    .container_right_box_content{
      width: 100%;
      height: 75px;
      margin-bottom: 1rem;
    }
  
  }