* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eef5ff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main_container_all {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 17px;
  border-radius: 10px;
  width: 60%;
}

.container_left {
  position: relative;
  width: 30%;
  color: white;
}

.container_left_overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25px;
  padding: 1rem;
  gap: 10px;
  line-height: 20px;
}

.overlay_one {
  display: flex;
  align-items: center;
  gap: 10px;
  /* justify-content: center; */
}

.container_left small {
  color: grey;
}

.number {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
  border-radius: 50%;
}

.desktop_image {
  width: fit-content;
  height: 70vh;
}

.mobile_image {
  display: none;
}

.container_right {
  font-size: 13px;
  padding: 2.5rem 2.5rem 0 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  /* height: 550px; */
}

.container_right_header {
  color: #002152;
  font-size: 30px;
  font-weight: 900;
}

.container_right_p {
  color: gray;
  font-size: 15px;
}

.container_right_header,
.container_right_p {
  line-height: 2rem;
  word-spacing: .2rem;
}

.container_right_box {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  border: 1px solid gray;
  height: 4rem;
  border-radius: 10px;
  padding: 1.4rem 0.5rem;
  margin: .5rem 0;
}

.right_box_half {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.next_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  /* height: 100Vh; */

}

.next_btn button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #174a8a;
  color: white;
  /* margin-top: 2rem; */
}

.back_page a{
  padding: 0.5rem 1rem;
  border-radius: 5px;
  /* background-color: red; */
  color: gray;
  text-decoration: none;
  font-size: 15px;
}

@media (max-width:930px){
  main{
    background-image: url(images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
}
  .main_container_all{
      width: 90%;
      height: 70vh;
  }
  .container_left{
      display: none;
  }
  .container_right{
      width: 100%;
      padding: 0;
  }
}
